$primary-color: rgb(77, 79, 84);
$primary-color-light: rgb(101, 101, 101);
$primary-color-heavy: rgb(57, 61, 66);
$secondary-color: rgb(255, 167, 2);
$tertiary-color: rgb(255, 255, 255);

.Contact {
  background: $primary-color;
  color: $tertiary-color;
  display: flex;
  flex-direction: row;
  padding: 50px;
  .left-c {
    flex: 1;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    hr {
      width: 150px;
      border: 3px solid rgb(226, 147, 0);
      margin-left: 5px;
    }
  }
  .right-c {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    form {
      margin-top: 35px;
      padding: 20px 39px;
      background: $primary-color-light;

      .form {
        outline: none;
        border: none;
        background: $primary-color-light;
        &::placeholder {
          color: rgb(175, 174, 174);
          font-size: 20px;
        }
      }
    }

    button {
      padding: 8px;
      border: none;
      font-weight: bold;
      color: $tertiary-color;
      background: $secondary-color;
    }
  }
}
