$primary-color: rgb(77, 79, 84);
$secondary-color: rgb(255, 167, 2);
$tertiary-color: rgb(255, 255, 255);

.Navigation {
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    color: $tertiary-color;
    gap: 25px;
  }
  li {
    cursor: pointer;
    &:hover {
      color: $secondary-color;
    }
  }

  .logo {
    width: 180px;
    height: auto;
  }
}
