$secondary-color: rgb(255, 167, 2);
$tertiary-color: rgb(255, 255, 255);

.Navigation {
  display: flex;
  justify-content: space-between;

  ul {
    padding: 25px;
    list-style: none;
    display: flex;
    color: $tertiary-color;
    gap: 25px;
  }
  li {
    cursor: pointer;
    a {
      text-decoration: none;
      color: $tertiary-color;
      &:hover {
        color: $secondary-color;
      }
    }
  }

  .logo {
    padding: 25px 0;
    width: 180px;
    height: auto;
  }
}
