$primary-color: rgb(77, 79, 84);
$primary-color-light: rgb(101, 101, 101);
$primary-color-heavy: rgb(57, 61, 66);
$secondary-color: rgb(255, 167, 2);
$tertiary-color: rgb(255, 255, 255);

.stroke-text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $tertiary-color;
}

.Programs {
  background: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 90px 50px;
  color: $tertiary-color;
  .programs-headings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
  }

  .programs-content {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .category {
      fill: $tertiary-color;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid $primary-color-light;
      padding: 41px;
      background: $primary-color-light;
      .program-heading {
        font-weight: bold;
      }
    }
    .join-now {
      display: flex;
      font-size: 16px;
      gap: 50px;
      font-weight: bold;
      .arrow {
        width: 20px;
        margin-top: 4px;
      }
    }
  }
}

@media (max-width: 800px) {
  .Programs {
    .programs-headings {
      flex-direction: column;
      align-items: center;
    }

    .programs-content {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
